*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;

}

header {
   margin: 0 120px;
   
}